<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidstudy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidStudy"
        android:usesCleartextTraffic="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".chapter4.ButtonEdit">

        </activity>
        <activity android:name=".Chapter5.IfMissing"></activity>
        <activity android:name=".Chapter5.Frame" />
        <activity android:name=".Chapter5.Multipage" />
        <activity android:name=".Chapter5.CodeLayout" />
        <activity android:name=".Chapter5.Inflation" />
        <activity android:name=".Chapter5.Inflation2" />
        <activity android:name=".Chapter5.Inflation3" />
        <activity android:name=".Chapter5.Inflation4" />
        <activity android:name=".Chapter5.Inflation5" />
        <activity android:name=".chapter6.LayoutParameter2" />
        <activity android:name=".Chapter7Activity" />
        <activity android:name=".chapter7.PermModelActivity" />
        <activity android:name=".Chapter4Activity" />
        <activity android:name=".chapter4.TestViewTest" />
        <activity android:name=".Chapter6Activity" />
        <activity android:name=".chapter6.LayoutParameter" />
        <activity android:name=".chapter6.LayoutParameter3" />
        <activity android:name=".Chapter11Activity" />
        <activity android:name=".chapter11.TextChangeActivity" />
        <activity android:name=".chapter11.GramPriceActivity" />
        <activity android:name=".chapter11.ListviewActivity" />
        <activity android:name=".chapter11.ListFromArrayActivity" />
        <activity android:name=".chapter11.ListAttrActivity" />
        <activity android:name=".chapter11.ListItemSelectActivity" />
        <activity android:name=".chapter11.ListAddDelActivity" />
        <activity android:name=".chapter11.ListAddDelMultiActivity" />
        <activity android:name=".Chapter12Activity" />
        <activity android:name=".chapter11.SpinnerActivity" />
        <activity android:name=".Chapter13Activity" />
        <activity android:name=".chapter13.DateTimeActivity" />
        <activity android:name=".chapter13.DatePicker" />
        <activity android:name=".chapter13.WebViewActivity" />
        <activity android:name=".Chapter16Activity" />
        <activity android:name=".chapter16.DialogActivity" />
        <activity android:name=".chapter16.OrderDialogActivity" />
        <activity android:name=".Chapter17Activity" />
        <activity android:name=".chapter17.CommActivity" />
        <activity android:name=".chapter17.subActivity" />
        <activity android:name=".Chapter19Activity" />
        <activity android:name=".chapter19.ThreadTestActivity"/>
        <activity android:name=".chapter19.ThreadTest2Activity"/>
        <activity android:name=".chapter19.HandlerActivity"/>
        <activity android:name=".chapter19.LooperTestActivity"/>
        <activity android:name=".chapter19.UpLoadActivity"/>
        <activity android:name=".chapter19.ANRActivity"/>
        <activity android:name=".chapter19.ANR2Activity"/>
        <activity android:name=".chapter19.LongTimeActivity"/>
        <activity android:name=".chapter19.LongTime2Activity"/>
        <activity android:name=".Chapter20Activity"/>
        <activity android:name=".chapter20.TestFragActivity"/>
        <activity android:name=".Chapter21Activity"/>
        <activity android:name=".chapter21.ActionBarActivity"
            android:theme="@style/action"
            android:label="actionBar"
            />
        <activity android:name=".Chapter25Activity"/>
        <activity android:name=".chapter25.FileActivity"/>
        <activity android:name=".chapter25.FileExplorer"/>
        <activity android:name=".chapter25.PrefTestActivity"/>
    </application>

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>