<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidstudy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidStudy">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".chapter4.ButtonEdit">

        </activity>
        <activity android:name=".Chapter5.IfMissing"/>
        <activity android:name=".Chapter5.Frame"/>
        <activity android:name=".Chapter5.Multipage"/>
        <activity android:name=".Chapter5.CodeLayout"/>
        <activity android:name=".Chapter5.Inflation"/>
        <activity android:name=".Chapter5.Inflation2"/>
        <activity android:name=".Chapter5.Inflation3"/>
        <activity android:name=".Chapter5.Inflation4"/>
        <activity android:name=".Chapter5.Inflation5"/>
        <activity android:name=".chapter6.LayoutParameter2"/>
        <activity android:name=".Chapter7Activity"/>
        <activity android:name=".chapter7.PermModelActivity"/>
        <activity android:name=".Chapter4Activity"/>
        <activity android:name=".chapter4.TestViewTest"/>
        <activity android:name=".Chapter5Activity"/>
        <activity android:name=".Chapter6Activity"/>
        <activity android:name=".chapter6.LayoutParameter"/>
        <activity android:name=".chapter6.LayoutParameter3"/>
        <activity android:name=".Chapter11Activity"/>
        <activity android:name=".chapter11.TextChangeActivity"/>
        <activity android:name=".chapter11.GramPriceActivity"/>
        <activity android:name=".chapter11.ListviewActivity"/>
        <activity android:name=".chapter11.ListFromArrayActivity"/>
        <activity android:name=".chapter11.ListAttrActivity"/>
        <activity android:name=".chapter11.ListItemSelectActivity"/>
        <activity android:name=".chapter11.ListAddDelActivity"/>
        <activity android:name=".chapter11.ListAddDelMultiActivity"/>
    </application>

    <uses-permission android:name="android.permission.READ_CONTACTS"/>
</manifest>